<div id="<%= dom_id comment %>" class="comment">
  <p><i><%= link_to comment.user.full_name, user_url(comment.user) %> at <%=comment.created_at%></i></p>
  <pre><%= comment.text %></pre>

  <% if comment.user == current_user %>
    <%=link_to 'Edit', edit_post_comment_path(post_id: comment.post_id, id: comment.id)%>
    <%=button_to 'Delete', post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete%>
  <% end %>
  <hr>
</div>
