<%= form_with(model: comment, url: (comment.id.nil? ? post_comment_index_path(comment.post_id) : post_comment_path(post_id: comment.post_id, id: comment.id) )) do |form| %>  
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this post_comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
