<h3><%=@user.full_name%></h3>
<% unless @user.profile.nickname.nil?%>
	<b>@<%=@user.profile.nickname%></b>
<% end %>

<% unless current_user.nil? or current_user == @user %>
	<% if current_user.following? @user %>
	  <%=button_to 'Stop following', users_unfollow_url(@user), method: :post %>
	<% else %>
	  <%=button_to 'Follow', users_follow_url(@user), method: :post %>
	<% end %>
<% end %>

<% if current_user == @user %>
	<%= link_to "New post", new_post_path %>
<% end %>

<h4><%=@user.profile.first_name%>`s posts</h4>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
</div>
<%= will_paginate @posts %>
