<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field half centered" style="margin-bottom: 20px;">
    <%= form.label :media, style: "display: block" %>
    <%= form.hidden_field :media, value: @post.cached_media_data, id: nil %>
    <%= form.file_field :media %>
  </div>

  <div class="field half centered">
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text, placeholder: 'Enter text' %>
  </div>

  <div class="centered">
    <%= form.submit %>
  </div>
<% end %>
