<div id="<%= dom_id post %>" class="post">
  <i>
    <%= link_to post.user.full_name, user_url(post.user) %> at <%=post.created_at%>
  </i>
  <% if post.media_data %>
    <div class="post__image-holder">
      <a href="<%=post.media_url%>" target="_blank">
        <%= image_tag preview_image_url(post), height: 300 %>
      </a>
    </div>
  <% end %>
  <pre class="post__content"><%= post.text %></pre>

  <div>
    <%= link_to "Open", post %>
    <% if post.likes_count > 0 %>
      ♥ <%=post.likes_count %>
    <% end %>

    <% unless current_user.nil? %>
      <% if post_liked?(post, current_user, @likes_map) %>
        <%= button_to 'Remove like', unlike_post_url(post, url: post_return_url(post)), method: :post %>
      <% else %>
        <%= button_to 'Like', like_post_url(post, url: post_return_url(post)), method: :post %>
      <% end %>
    <% end %>
  </div>
  <hr>
</div>
