<h1>Posts</h1>

<% unless current_user.nil? %>
  <%= link_to "New post", new_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= will_paginate @posts %>
