<%= render @post %>

<% if post_belongs_to_me?(@post)%>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<% end %>

<h5>Comments:</h5>
<% @post.comments.each do |comment| %>
  <%= render 'post_comments/comment', comment: comment%>
<% end %>

<% unless current_user.nil? %>
  <h5>Add comment</h5>
  <%=render 'post_comments/form', comment: @post.comments.new%>
<% end %>
