/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  max-width: 1024px;
  margin: auto;
  padding: 15px;
}

.alert:empty {
  display: none;
}

.alert {
  color: red;
  background: #ffd1d1;
  padding: 10px;
  border-left: 1px solid red;
}

.notice:empty {
  display: none;
}

.notice {
  color: green;
  background: #bfdfbf;
  padding: 10px;
  border-left: 1px solid green;
}

#new_user {
  display: block;
  margin: auto;
  width: 300px;
  text-align: center;
}

form .field {
  margin: 5px;
}

.field textarea {
  width: 300px;
  height: 140px;
}

.centered {
  text-align: center;
}

input[type="submit"] {
  padding: 0 10px 0 10px;
}

.header {
  background: #8080807d;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header__title a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.header_logout form {
  display: inline-block;
}

.button_to {
  display: inline-block;
}

.post, .comment {
  background: #ccc;
  padding: 5px 5px 0px 5px;
  margin-top: 10px;
}

.post img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

nav.menu li {
  display: inline-block;
  margin: 10px;
}