<header class="header">
  <div class="header__title">
    <a href="/">Post-o-gramm</a>
  </div>
  <div class="header__nav">
  </div>
  <div class="header_logout">
    <% if current_user.nil? %>
      <%=link_to "Log in", new_user_session_path%>
    <% else %>
    <details>
      <summary><%=current_user.full_name%></summary>

      <li><%=link_to 'Profile', users_profile_path %></li>
      <li><%=link_to 'Security', edit_user_registration_path %></li>
      <li><%=button_to "Log out", destroy_user_session_path, :method => :delete%></li>
    </details>
    <% end %>
  </div>
</header>

<nav class="menu">
  <li><%=link_to 'All Posts', posts_path %></li>

  <% unless current_user.nil? %>
    <li><%=link_to 'My Page', user_url(current_user) %></li>
    <li><%=link_to 'My Feed', feed_url %></li>
  <% end %>
</nav>